body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #727272;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

p {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: #000;
    line-height: 1.15;
    font-weight: 500;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.btn {
    display: inline-block;
    border: 1px solid #34547A;
    background: #34547A;
    color: #fff;
    text-transform: uppercase;
    padding: 23px 50px;
    line-height: 1;
    text-decoration: none;
}

.btn:hover {
    transition: opacity .3s ease-in;
    opacity: .7;
}

.header {
    width: 100%;
    background: #EEEFF1;
}

.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

.img-block {
    padding-top: 57px;
}

.item-block {
    padding-top: 50px;
}

.header-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-flex ul {
    display: flex;
}

.item {
    list-style-type: none;
}

.item a {
    text-decoration: none;
    color: #000;
    margin-left: 42px;
}

.item a:hover {
    opacity: .3;
}

.about-me {
    max-width: 100%;
    text-align: center;
}

.about-me-h2 h2 {
    margin-bottom: 0;
}

.about-me-h2 {
    margin-top: 119px;
}

.about-me-lorem {
    display: inline-block;
    max-width: 545px;
    margin: 50px 0 100px 0;
}

.about-me-lorem p {
    margin: 0;
}

.many-projects {
    width: 100%;
    background: #34547A;
}

.project {
    display: flex;
    margin: 100px 0;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ptoject-text p,
.ptoject-text h3 {
    color: white;
}

.ptoject-text p {
    margin: 10px 0 0 0;
}

.ptoject-text h3 {
    margin: 0;
}

.project-img {
    margin-right: 20px;
}

.section-banner {
    background: #EEEFF1;
    padding: 150px 0 146px;
}

.banner-wrap {
    display: flex;
    align-items: center;
    margin: 0 -65px;
}

.col {
    padding: 0 65px;
    width: 50%;
}

.col--img {
    display: flex;
    justify-content: flex-end;
}

.section-banner .title {
    margin-bottom: 60px;
}

.section-banner .holder {
    padding-bottom: 40px;
}

.section-skill {
    padding: 100px 0;
}

.skill-row {
    display: flex;
    align-items: center;
}

.skill-col {
    width: 50%;
}

.skill-descr {
    padding-right: 20px;
}

.skill-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 34.6%;
}

.skill-descr .title {
    margin-bottom: 50px;
}

.skill-box {
    max-width: 445px;
}

.skill-this {
    margin-bottom: 30px;
}

.skill-label {
    display: block;
    margin-bottom: 20px;
}

.skill-loader {
    background: #C4C4C4;
    height: 4px;
    position: relative;
}

.skill-load {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #34547A;
}

.deceptive-video {
    width: 100%;
    background: #EEEFF1;
}

.video-block {
    text-align: center;
    padding: 100px 0 100px 0;
}

.play-button {
    color: #000;
    position: relative;
    top: -350px;
    z-index: 1;
}

.lorem-p {
    margin: 50px 0 57px 0;
}

.video-block h2 {
    margin: 0;
}

/* gellary */

.section-gellary .row {
    display: flex;
    flex-wrap: wrap;
}

.section-gellary .col {
    width: 25%;
    padding-top: 25%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.section-gellary .col:hover::before,
.section-gellary .col:hover::after {
    transition: opacity .3s ease-in;
    opacity: 1;
    visibility: visible;
}

.section-gellary .col::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(52, 84, 122, .8);
    opacity: 0;
    visibility: hidden;
}

.section-gellary .col::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(/img/oko.svg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 58px;
    opacity: 0;
    visibility: hidden;
}

.form-section {
    width: 100%;
    background: #EEEFF1;
}

.input-block {
    text-align: center;
    padding: 100px 0 100px 0;
}

.input-block p {
    margin: 50px 0 65px 0;
}

.about-me-lorem-p {
    display: inline-block;
    max-width: 44.8%;
    margin: 50px 0 100px 0;
}

.input-name,
.input-email {
    width: 22.2%;
    padding-left: 20px;
    height: 50px;
}

.input-email {
    margin: 0 0 20px 20px;
}


.microsoft-flex-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 72px 0 100px 0;
}

.message-form {
    padding: 17px 0 0 20px;
    width: 46.4%; 
    height: 175px;
    resize: none;
    margin-bottom: 50px;
}

.footer {
    width: 100%;
    background: #34547A;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0 42px 0;
}

.info {
    display: flex;
    flex-direction: column
}

.info h3,
.info p {
    color: white;
    margin: 0;
    padding: 0;
}

.vk-img a img {
    margin-left: 22px;
}

.info h3 {
    margin: 0 0 20px 0;
}